# Application Settings
DEBUG=True
APP_ENV=development
NEXT_PUBLIC_API_URL="http://localhost:8000/api"

REASONING_API_KEY=ANTHROPIC_API_KEY
REASONING_BASE_URL=https://api.anthropic.com/v1/
REASONING_MODEL=claude-3-7-sonnet-latest

BASIC_API_KEY=ANTHROPIC_API_KEY
BASIC_BASE_URL=https://api.anthropic.com/v1/
BASIC_MODEL=claude-3-7-sonnet-latest

# Vision-language LLM (for tasks requiring visual understanding)
VL_API_KEY=ANTHROPIC_API_KEY
VL_BASE_URL=https://api.anthropic.com/v1/
VL_MODEL=claude-3-7-sonnet-latest

# Add other environment variables as needed
TAVILY_API_KEY=tvly-xxx
# JINA_API_KEY=jina_xxx # Optional, default is None

# CHROME_INSTANCE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
# CHROME_HEADLESS=False  # Optional, default is False
# CHROME_PROXY_SERVER=http://127.0.0.1:10809  # Optional, default is None
# CHROME_PROXY_USERNAME=  # Optional, default is None
# CHROME_PROXY_PASSWORD=  # Optional, default is None

# turn off for collecting anonymous usage information
ANONYMIZED_TELEMETRY=false
