# if true, use conf.yaml, else use original .env config, default false
USE_CONF: false

# LLM Config
REASONING_MODEL:
  model: "claude-3-7-sonnet-latest"
  api_key: $REASONING_API_KEY
  api_base: "https://api.anthropic.com"

BASIC_MODEL:
  model: "claude-3-7-sonnet-latest"
  api_key: $BASIC_API_KEY
  api_base: "https://api.anthropic.com"

VISION_MODEL:
  model: "claude-3-7-sonnet-latest"
  api_key: $VL_API_KEY
  api_base: "https://api.anthropic.com"